* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    color: white;
}

table {
    color: white;
    background: cornflowerblue;
    width: 60vw;
    height: 30vh;
}

#titulo {
    margin:30px auto;
}

body {
    background: #333;
}
