body {
    
    background: #2d3035;
    color: #e6dcdc; 
    justify-self: center;
    
}

#title{
    color: rgb(252, 252, 252);
}
#boton{
    background: #313331;
    
    
    padding: 15px 32px;
    justify-self: center;
 
    
}
#input{
    
    justify-self: center;

}